body {
  background: #181818;
  background-image: url('https://i.redd.it/d2cf2rpqll9a1.jpg');
  background-size: cover;
  color: #eee;
}

.navbar {
    background-color: #333;      /* warna latar navbar */
    padding: 10px;      /* border luar */        /* sudut melengkung (opsional) */
}

.navbar a {
    color: rgb(255, 255, 255);
    padding: 8px 15px;
}

.navbar a:hover {
    background-color: #555;      /* efek hover */
}

.blink {
    animation: blink 0.1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.visit-github {
    display: block;        /* Biar bisa diatur center */
    text-align: center;    /* Pusatkan teks di dalam link */
    margin: 20px auto;     /* Auto biar posisinya di tengah */
    width: fit-content;    /* Lebar sesuai teks */
}
